<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        {{#each errorMessages}}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{this}}
        </div>
        {{/each}}
        
        <div class="page-header">
            <h1>Bejelentkezés</h1>
        </div>
        
        <form class="form-horizontal" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="azonosito" class="col-lg-2 control-label">Azonosító</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="azonosito" name="azonosito" type="text" value="{{data.azonosito}}" placeholder="Munkavállalói azonosító">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Jelszó</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Jelszó">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Töröl</button>
                        <button type="submit" class="btn btn-primary">Belépés</button>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <div class="list-group">
          <a href="/auth/signup" class="list-group-item">
            Regisztráció
          </a>
        </div>
    </div>
</div>